header ul {
    width: 1200px;
    margin: 20px auto;
}
header ul li {
    display: inline-block;
}

header ul li:first-child {
    margin-right: 30px;
}

header ul li:last-child {
    margin-left: 30px;
}

main ul li {
    display: inline-block;
    margin: 30px;
}

main ul {
    text-align: center;
}


#card1, #card2, #card3, #card4, #card5{
    background-color: red;
    /* transform: translate(0px, 0px) rotate(360deg); */
    transition: transform .5s ease-in-out 0.1s;
}
main ul li{ 
    height: 220px;
    background-color: red;
}