nav {
    position: fixed;
    top: 5px;
    left: 5px;
    text-align: center;
    
}
nav a {
    display: block;
    height: 36px;
    width: 120px;
    color: aliceblue;
    border: solid black 1px;
    background-color: grey;
    padding-top: 12px;
    border-radius: 8px;
}
nav a:first-child {
    border-bottom: none;
}
header ul {
    width: 960px;
    margin: 0px auto;
    padding-left: 10%;
    padding-right: 10%;
}
header ul li {
    display: inline-block;
}
#card-deck {
    margin-right: 10px;
}
#questions-field {
    margin-left: 10px;
    margin-right: 10px;
}
#card-choice {
    margin-left: 10px;
}
main ul {
    width: 960px;
    margin: 80px auto;
    padding-left: 10%;
    padding-right: 10%;
    list-style-type: none;
}
main ul li {
    display: inline-block;
    background-color: forestgreen;
    width: 176px;
    height: 220px;
    margin: 0px 7px;
}
main ul li:first-child {
    margin: 0px 10px 0px 0px
}
main ul li:last-child {
    margin: 0px 0px 0px 10px
}
